extends base

block head
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")
  style.
    .tour-image {
      max-width: 150px;
      height: auto;
    }
    .action-btn {
      width: 100px; /* Adjust width as needed */
    }

block content
  .container.mt-3
    .row
      .col-lg-12
        .main-box.clearfix
          a.btn.btn-primary.mt-3(href='/me')
            i.fas.fa-cog
            | Settings
          .table-responsive
            table.table.table-bordered.table-striped.user-list
              thead
                tr
                  th(scope="col") Tour Name
                  th(scope="col") Tour Difficulty
                  th(scope="col") Max Group Size
                  th(scope="col") Duration
                  th(scope="col") Price
                  th(scope="col") Tour Date
                  th(scope="col") Actions
              tbody
                each tour in tours  
                  tr
                    td
                      img(src=`/img/tours/${tour.imageCover}`, alt="Tour Image" class="img-fluid rounded tour-image") 
                      br
                      span.mx-3 #{tour.name}
                    - let difficulty = tour.difficulty.toUpperCase()
                    td= difficulty
                    td= tour.maxGroupSize
                    td= tour.duration
                    td= tour.price
                    td= new Date(tour.startDates[0]).toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })
                    td
                      a.btn.mx-1.btn-primary(href=`/tour-info/${tour._id}`, class="btn action-btn")
                        i.fa.fa-info-circle.mr-1
                        | Details
                      a.btn.btn-danger.table-tour-delete(data-tour-id=`${tour._id}`, class="btn action-btn")
                        i.fa.fa-trash-alt.mr-1
                        | Delete

              if pagination.prevPage
                a.btn.mt-3.mb-2.mx-1.btn-primary(href=`?page=${pagination.prevPage}&limit=${pagination.limit}`) Privious Page
              if pagination.nextPage
                a.btn.mt-3.mb-2.mx-1.btn-success(href=`?page=${pagination.nextPage}&limit=${pagination.limit}`) Next Page  