extends base
block content
    style.
        .hidden {
            visibility: hidden;
        }
    .container
        .row
            .col-lg-12
                .main-box.clearfix
                    .table-responsive
                        table.table.table-striped.user-list
                            thead
                                tr
                                    th User
                                    th Role
                                    th.text-center Active
                                    th Email
                                    th Id
                                    th Actions
                            tbody
                                each user in users
                                    tr
                                        td
                                            img(src=`/img/users/${user.photo}`, alt="" class="rounded-circle" style="width: 40px; height: 40px;")
                                            a.user-link= user.name
                                        td= user.role
                                        td.text-center
                                            span.badge.badge-success= `${user.active ? 'Active' : 'Inactive'}`
                                        td= user.email
                                        td= user._id
                                        td(style="width: 20%;")
                                            a.btn.btn-primary.table-link(href=`/user-info/${user._id}`)
                                                i.fa.fa-pencil-alt.fa-lg
                                                | Edit
                                            a.btn.btn-danger.table-link.danger(data-user-Id=`${user._id}`)
                                                i.fa.fa-trash-alt.fa-lg
                                                | Delete
