extends base

block head
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet")
    style.
        /* Additional or modified CSS for user review table */
        .user-reviews tbody tr:hover td {
            background-color: #f6f6f6;
        }

        .user-reviews td.text-center {
            vertical-align: middle;
        }

        .user-reviews td img {
            max-width: 50px;
            float: left;
            margin-right: 15px;
        }

        .user-reviews .label-info {
            background-color: #5bc0de; /* Example color for rating label */
            color: #fff;
            font-size: 1em;
            padding: 3px 8px;
            border-radius: 3px;
        }
        .user-reviews {
            font-size: 18px;
        }
        .user-reviews a.table-review {
            font-size: 1em;
        }

        .user-reviews a.table-review:hover {
            color: #2aa493;
        }

        .user-reviews a.table-delete-review {
            color: #fe635f;
        }

        .user-reviews a.table-delete-review:hover {
            color: #dd504c;
        }


block content
    style.
        p.hidden {
            visibility: hidden;
        }
    .container
        .row
            .col-lg-12
                .main-box.clearfix
                    .table-responsive
                        table.table.user-reviews
                            thead
                                tr
                                    th User
                                    th Tour
                                    th Rating
                                    th Review
                                    th &nbsp;
                            tbody
                                each review in reviews
                                    tr
                                        td
                                            img(src=`/img/users/${review.user.photo}`, alt="")
                                            a.user-link(href=`/user-info/${review.user._id}`)= review.user.name
                                        td= review.tour.name 
                                        td.text-center
                                            span.label.label-info= review.rating
                                        td= review.review
                                        td(style="width: 1%;")
                                            a.table-review(href=`/edit-review/${review._id}`)
                                                span.fa-stack
                                                    i.fa.fa-square.fa-stack-2x
                                                    i.fa.fa-pencil.fa-stack-1x.fa-inverse
                                            a.table-delete-review(data-review-Id=`${review._id}`)
                                                span.fa-stack
                                                    i.fa.fa-square.fa-stack-2x
                                                    i.fa.fa-trash-o.fa-stack-1x.fa-inverse

