extends base

block content
    style.
        p.hidden {
            visibility: hidden;
        }
    .container
        .row
            .col-lg-12
                .main-box.clearfix
                    .table-responsive
                        table.table.table-striped.user-reviews
                            thead
                                tr
                                    th User
                                    th Tour
                                    th Rating
                                    th Review
                                    th Actions
                            tbody
                                each review in reviews
                                    tr
                                        td
                                            img.img-thumbnail(src=`/img/users/${review.user.photo}`, alt="" class="rounded-circle" style="width: 40px; height: 40px;")
                                            a.user-link(href=`/user-info/${review.user._id}`)= review.user.name
                                        td= review.tour.name 
                                        td.text-center
                                            span.label.label-info= review.rating
                                        td= review.review
                                        td
                                            a.btn.btn-primary.table-review(href=`/edit-review/${review._id}`, style="width: 80px;") 
                                                i.fa.fa-pencil.fa-fw
                                                |  Edit
                                            a.btn.btn-danger.table-delete-review(data-review-Id=`${review._id}`, style="width: 80px;") 
                                                i.fa.fa-trash-o.fa-fw
                                                |  Delete
