extends base

mixin tourInfo(icon, data)
    .card-data.mb-3
        svg.card-icon(width='25px' height='25px' fill='#55C57A')
            use(xlink:href=`/img/icons.svg#icon-${icon}`)
        span.mx-2= data

block content
    style.
        .card {
            margin: 0 15px 15px 0;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
            border: none;
            color: #969696;
            position: relative;
            overflow: hidden; /* Ensure overflow is hidden for the image to stay within bounds */
        }
        .card-img-top {
            height: 200px;
            object-fit: cover;
            transition: transform 0.3s ease;
        }
        .card:hover .card-img-top {
            transform: scale(1.1); /* Scale up the image on hover */
        }
        .heading-tertirary {
            font-size: 1.75rem;
            color: #fff;
            text-align: right;
            position: absolute;
            top: 20%;
            transform: translateY(-125%);
            z-index: 10;
            padding: 1rem 1.5rem;
            line-height: 1;
            -webkit-box-decoration-break: clone;
            box-decoration-break: clone;
            background-image: linear-gradient(
                to bottom right,
                rgba(125, 213, 111, 0.85),
                rgba(40, 180, 135, 0.85)
            );
            transition: background-image 0.3s ease; /* Smooth transition for background image */
        }
        .card:hover .heading-tertirary {
            background-image: linear-gradient(
                to bottom right,
                rgba(40, 180, 135, 0.85),
                rgba(125, 213, 111, 0.85)
            );
        }

        .card-body {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: 1rem;
        }

    .main
        if currentPath==='/'
            .container   
                .row
                    .col-md-7.mt-3                    
                        .btn-grou
                            a.btn.btn-outline-info.mx-1.mb-4(href='?sort=price') Sort by Price
                            a.btn.btn-outline-info.mx-1.mb-4(href="?sort=-ratingsAverage") Sort by Rating
                            a.btn.btn-outline-info.mx-1.mb-4(href='/top-tours') top 5 tours


        .container-fluid
            each tour, index in tours
                if index % 3 === 0
                    .row.mb-3
                        each tourCol in tours.slice(index, index + 3)
                            .col-lg-4
                                .card.mb-3(style='height: 100%;')
                                    .card-header
                                        .card-picture
                                            .card-picture-overlay &nbsp;
                                            img.card-img-top(src=`/img/tours/${tourCol.imageCover}` alt=`${tourCol.name}`)
                                            .heading-tertirary
                                                span= `${tourCol.name} Tour`

                                    .card-body
                                        .row
                                            .col
                                                p.text-uppercase.fs-2= `${tourCol.difficulty} ${tourCol.duration}-Day Tour`
                                        .row
                                            .col
                                                p.text-start= tourCol.summary
                                        .row
                                            .col.ms-5
                                                svg.fst-normal.fs-4.text-success.mx-2(width='25px' height='25px' fill='#55C57A')
                                                    use(xlink:href=`/img/icons.svg#icon-map-pin`)
                                                    span.text-secondary=`${tourCol.startLocation.description}`
                                            .col
                                                - const date = new Date(tourCol.startDates[0]).toLocaleDateString('en-US', { year: 'numeric', month: 'long' })
                                                svg.fst-normal.fs-4.text-success.mx-2(width='25px' height='25px' fill='#55C57A')
                                                    use(xlink:href=`/img/icons.svg#icon-calendar`)
                                                    span.text-secondary=`${date}`

                                        .row.mt-3
                                            .col.ms-5
                                                svg.fst-normal.fs-4.text-success.mx-2(width='25px' height='25px' fill='#55C57A')
                                                    use(xlink:href=`/img/icons.svg#icon-flag`)
                                                    span.text-secondary=`${tourCol.locations.length} stops`
                                            .col
                                                svg.fst-normal.fs-4.text-success.mx-2(width='25px' height='25px' fill='#55C57A')
                                                    use(xlink:href=`/img/icons.svg#icon-user`)
                                                    span.text-secondary= `${tourCol.maxGroupSize} people`



                                    .card-footer.d-flex.align-items-center.justify-content-between
                                        p.m-0
                                            span.card-footer-value= `$${tourCol.price}`
                                            span.card-footer-text= " per person"
                                            br
                                            span.card-footer-value= tourCol.ratingsAverage
                                            span.card-footer-text= ` rating (${tourCol.ratingsQuantity})`
                                        a.btn.btn-success.btn(href=`/tour/${tourCol.slug}`) Details
        .container 
            style.
                btn-circle {
                    width: 50px;
                    height: 50px;
                    padding: 10px 16px;
                    border-radius: 25px;
                    text-align: center;
                    font-size: 24px;
                    line-height: 1.33;
                }
            if pagination.nextPage 
                 a.btn.btn-success.btn-circle(href=`?page=${pagination.nextPage}&limit=${pagination.limit}`)=`Next Tours(${pagination.nextPage})`
            if pagination.prevPage    
                a.btn.btn-primary.btn-circle(href=`?page=${pagination.prevPage}&limit=${pagination.limit}`)=`Previous Tours(${pagination.prevPage})`
