extends base

block head
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css', integrity='sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z', crossorigin='anonymous')

block content
    style.
        p.hidden {
            visibility: hidden;
        }
    .container
        .row
            .col-lg-12
                .main-box.clearfix
                    .table-responsive
                        form.form--review
                            table.table.user-list
                                thead
                                    tr
                                        th Tour-name
                                        th Review
                                        th Rating
                                        th Actions
                                tbody
                                    each review in reviews
                                        tr
                                            td
                                                img.img-fluid(src=`/img/tours/${review.tour.imageCover}`, alt="")
                                                a.user-link.btn.btn-link(href=`/tour/${review.tour._id}`)= review.tour.name
                                            td= review.review
                                            td= review.rating
                                            td
                                                a.table-link.review.btn.btn-danger(data-review-Id=`${review._id}`)
                                                    i.fa.fa-trash-o.fa-lg
                                                    span.ml-1 Delete
                                                a.table-link.save.btn.btn-primary(href=`/review/${review._id}`)
                                                    i.fa.fa-pencil.fa-lg
                                                    span.ml-1 Edit
