extends base

block content
    style.
        p.hidden {
            visibility: hidden;
        }
        .form__tour-photo {
            width: 150px;
            height: 150px;
            object-fit: cover;
        }
    .container
        a.btn.btn--white(href='/manage-tours') All Tours
        .tour-info
            p#tourId.hidden= tour._id
            form.form.form-tour-info(action=`/tours/${tour._id}`, method='POST' enctype='multipart/form-data')
                .form-group.row.align-items-center
                    .col-md-6
                        img.form__tour-photo(src=`/img/tours/${tour.imageCover}`, alt=`${tour.name}`, class='img-fluid mb-3')
                        input#imageCover.form__upload(type="file" name="imageCover" accept='image/*' class='form-control-file')
                        label(for='imageCover') Choose new cover image

                    .col-md-6
                        each image, index in tour.images
                            .form-group.row.align-items-center(key=index)
                                .col-4.col-md-3
                                    img.form__tour-photo(src=`/img/tours/${image}`, alt=`Image ${index + 1}`, class='img-fluid mb-3')
                                .col-8.col-md-9
                                    input.form__upload(type="file" name=`images[${index}]` accept='image/*' class='form-control-file')
                                    label(for=`images[${index}]`) Choose image ${index + 1}

                .form-group.row
                    .col-md-6
                        label.form__label(for='name') Name:
                        input.form__input#name(type='text' name='name' value=tour.name class='form-control')
                    
                    .col-md-6
                        label.form__label(for='duration') Duration (days):
                        input.form__input#duration(type='number' name='duration' value=tour.duration class='form-control')

                .form-group.row
                    .col-md-6
                        label.form__label(for='maxGroupSize') Max Group Size:
                        input.form__input#maxGroupSize(type='number' name='maxGroupSize' value=tour.maxGroupSize class='form-control')

                    .col-md-6
                        label.form__label(for='difficulty') Difficulty:
                        select.form-control#difficulty(name='difficulty' required)
                            option(value='easy', selected=tour.difficulty==='easy') Easy
                            option(value='medium', selected=tour.difficulty==='medium') Medium
                            option(value='difficult', selected=tour.difficulty==='difficult') Difficult

                .form-group.row
                    .col-md-6
                        label.form__label(for='price') Price:
                        input.form__input#price(type='number' name='price' value=tour.price class='form-control')

                    .col-md-6
                        label.form__label(for='summary') Summary:
                        textarea.form-control#summary(name='summary' rows='5')= tour.summary

                .form-group.row
                    .col-md-6
                        label.form__label(for='description') Description:
                        textarea.form-control#description(name='description' rows='10')= tour.description

                    .col-md-6
                        label.form__label(for='startDates') Start Dates:
                        each date in tour.startDates
                            input.form__input(type='date' name='startDates' value=date.toISOString().split('T')[0] class='form-control')

                .form-group.row
                    .col-md-6
                        label.form__label(for='startLocation.description') Start Location Description:
                        input.form__input#startLocationDescription(type='text' name='startLocation.description' value=tour.startLocation.description class='form-control')

                    .col-md-6
                        label.form__label(for='startLocation.coordinates') Start Location Coordinates:
                        input.form__input#startLocationCoordinates(type='text' name='startLocation.coordinates' value=tour.startLocation.coordinates.join(', ') class='form-control')

                .form-group.row
                    .col-md-6
                        label.form__label(for='startLocation.address') Start Location Address:
                        input.form__input#startLocationAddress(type='text' name='startLocation.address' value=tour.startLocation.address class='form-control')

                    .col-md-6
                        each location, index in tour.locations
                            .location(key=index)
                                label.form__label(for=`locations[${index}].description`) Location Description:
                                input.form__input#locationDescription(type='text' name=`locations[${index}].description` value=location.description class='form-control')

                                label.form__label(for=`locations[${index}].coordinates`) Location Coordinates:
                                input.form__input#locationCoordinates(type='text' name=`locations[${index}].coordinates` value=location.coordinates.join(', ') class='form-control')

                                label.form__label(for=`locations[${index}].day`) Day:
                                input.form__input#locationDay(type='number' name=`locations[${index}].day` value=location.day class='form-control')

                .form-group.row.justify-content-between
                    .col-md-6
                        button.btn.btn--green(type='submit') Save
                    .col-md-6.text-md-right
                        a.btn.btn--white(href='/manage-tours') Cancel
