extends base
mixin tourInfo(icon,data)
    .heading-box__detail
        svg.heading-box__icon
            use(xlink:href=`/img/icons.svg#icon-${icon}`)
        span.heading-box__text= `${data}`

mixin tourDetailes(icon,label,text)
    .overview-box__detail
        svg.overview-box__icon
            use(xlink:href=`/img/icons.svg#icon-${icon}`)
        span.overview-box__label= label
        span.overview-box__text= text
block head
    //- External stylesheets
    link(href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css' rel='stylesheet')
    link(href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet')
    link(rel="stylesheet", href="/css/style.css")


block content
    section.section-header
        .header__hero
            .header__hero-overlay &nbsp;
            img.header__hero-img(src=`/img/tours/${tour.imageCover}` alt=`${tour.name}`)

        .heading-box
            h1.heading-primary
                span= tour.name
            .heading-box__group.d-flex.justify-content-center
                +tourInfo('clock',`${tour.duration} days`)
                +tourInfo('map-pin',`${tour.startLocation.description} days`)

    section.section-description.container
        .overview-box.row
            .col-md-6
                .overview-box__group
                    h2.heading-secondary.ma-bt-lg Quick facts
                    - const date = tour.startDates[0].toLocaleDateString('en-US',{year:'numeric', month:'long'})
                    +tourDetailes('calendar','Next date',`${date}`)
                    +tourDetailes('trending-up','Difficulty',`${tour.difficulty}`)
                    +tourDetailes('user','Participants',`${tour.maxGroupSize} people`)
                    +tourDetailes('star','Rating',`${tour.ratingsAverage} / 5`)

            .col-md-6
                .overview-box__group
                    h2.heading-secondary.ma-bt-lg Your tour guides
                    each guide in tour.guides
                        .overview-box__detail.d-flex.align-items-center.mb-3
                            img.overview-box__img(src=`/img/users/${guide.photo}` alt=`${guide.name}`)
                            .ml-3
                                if guide.role === 'lead-guide'
                                    span.overview-box__label Lead guide
                                if guide.role === 'guide'
                                    span.overview-box__label Tour guide
                                span.overview-box__text= guide.name

        .description-box.mt-5
            h2.heading-secondary.ma-bt-lg About the park camper tour
            - const text = tour.description.split('\n')
            each p in text
                p.description__text= p

    section.section-pictures.container
        .row
            each image,i in tour.images
                .col-md-4.mb-4
                    .picture-box
                        img.picture-box__img(class= `picture-box__img--${i+1}` src=`/img/tours/${image}` alt=`${tour.name- i+1}`)

    section.section-map
        #map.map-data(data-locations=`${JSON.stringify(tour.locations)}`)

    section.section-reviews.container.mt-5
        .reviews.row
            each review in tour.Reviews
                .reviews__card.col-md
                    .reviews__avatar
                        img.reviews__avatar-img(src=`/img/users/${review.user.photo}` alt=`${review.user.name}`)
                        h6.reviews__user= review.user.name
                    p.reviews__text= review.review
                    .reviews__rating
                        each star in [1,2,3,4,5]
                            svg.reviews__star(class= `reviews__star--${star<=review.rating?'active':'inactive'}`)
                                use(xlink:href='/img/icons.svg#icon-star')

    section.section-cta.container.mt-5
        .cta.text-center
            .cta__img.cta__img--logo
                img(src='/img/logo-white.png' alt='Natours logo')
            .d-flex.justify-content-center.mb-4
                img.cta__img.cta__img--1(src=`/img/tours/${tour.images[0]}` alt=`${tour.images}`)
                img.cta__img.cta__img--2(src=`/img/tours/${tour.images[1]}` alt=`${tour.images}`)
            .cta__content
                h2.heading-secondary What are you waiting for?
                p.cta__text= `${tour.duration} days. 1 adventure. Infinite memories. Make it yours today!`
                if user
                    button.btn.btn--green.btn-lg#book-tour(data-tour-Id=`${tour._id}`) Book tour now!
                else    
                    a.btn.btn--green.btn-lg(href='/login') Log in to book this tour!