extends base

block content
    style.
        p.hidden {
            visibility: hidden;
        }
    .container
        a.btn.btn--white(href='/manage-users') All Users
        .user-info
            p#userId.hidden= selectedUser._id
            form.form.form-user-info(action=`/users/${selectedUser._id}`, method='POST' enctype='multipart/form-data')
                .form-group
                    img.form__user-photo(src=`/img/users/${selectedUser.photo}`, alt=`${selectedUser.name}`)
                    input#photo.form__upload(type="file" name="photo" accept='image/*')
                    label(for='photo') Choose new photo
                .form-group
                    label.form__label(for='name') Name:
                    input.form__input#name(type='text' name='name' value=selectedUser.name)
                .form-group
                    label.form__label(for='role') Role:
                    select.form__input#role(name='role' required)
                        option(value='admin', selected=selectedUser.role==='admin') Admin
                        option(value='lead-guide', selected=selectedUser.role==='lead-guide') Tour Leader
                        option(value='guide', selected=selectedUser.role==='guide') Tour Guide
                        option(value='user', selected=selectedUser.role==='user') User
                .form-group
                    label.form__label(for='email') Email:
                    input.form__input#email(type='email' name='email' value=selectedUser.email)
                .btn-group
                    button.btn.btn--green(type='submit') Save
                    a.btn.btn--white(href='/manage-users') Cancel
