extends base

block content
    style.
        p.hidden {
            visibility: hidden;
        }
    .container
        .row
            .col-md-6
                a.btn.btn-outline-secondary(href='/manage-users') All Users
                .user-info
                    p#userId.hidden= selectedUser._id
                    form.form.form-user-info(action=`/users/${selectedUser._id}`, method='POST' enctype='multipart/form-data')
                        .form-group
                            img.form__user-photo.img-fluid(src=`/img/users/${selectedUser.photo}`, alt=`${selectedUser.name}`, style='height: 200px; object-fit: cover;')
                            input#photo.form__upload.form-control-file(type="file" name="photo" accept='image/*')
                            label.form__label(for='photo').mt-2 Choose new photo
                        .form-group
                            label.form__label(for='name').mt-2 Name:
                            input.form__input#name.form-control(type='text' name='name' value=selectedUser.name)
                        .form-group
                            label.form__label(for='role').mt-2 Role:
                            select.form-control#role(name='role' required)
                                option(value='admin', selected=selectedUser.role==='admin') Admin
                                option(value='lead-guide', selected=selectedUser.role==='lead-guide') Tour Leader
                                option(value='guide', selected=selectedUser.role==='guide') Tour Guide
                                option(value='user', selected=selectedUser.role==='user') User
                        .form-group
                            label.form__label(for='email').mt-2 Email:
                            input.form__input#email.form-control(type='email' name='email' value=selectedUser.email)
                        .btn-group.mt-3
                            button.btn.btn-success.btn--green(type='submit') Save
                            a.btn.btn-outline-secondary.btn--white(href='/manage-users') Cancel
